h1 {
    color: #000000;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.Project-title{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--accent-color);
}