.Home-title{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--accent-color);
}

main {
  padding-top: 80px; /* match header height */
}
