h1 {
    color: #000000;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.Project-title{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--accent-color);
}

.componentBox {
    background-color: white;
    height: 600px;
    padding: 40px 20px;
    overflow: scroll;
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.projectPage{
    background-color: var(--background-color);
    gap: 40px;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}