.AboutPage{
    font-family: var(--font-secondary);
    color: white;
    padding: 20px;
}

.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
}

.image {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.textContainer{
    margin-left: 40px;
}

.title{
    font-size: 40px;
    color: var(--accent-color);
    font-family: var(--font-main);
    margin-bottom: 10px;
}

.location{
    font-size: 20px;
    color: var(--hover-color);
    margin-bottom: 20px;
}

.text{
    font-family: var(--font-secondary);
    color: var(--font-color);
    padding-left: 20px;
    border-left: 5px solid var(--accent-color);
}