.device {
    width: fit-content;          /* ← make this smaller */
    height: fit-content; 
    background: #000;
    border-radius: 30px;
    padding: 12px;
    margin: 0 auto;
    align-self: center;
}

.screen {
    width: 266px;
    height: 546px;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
    position: relative;
}


.notch {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 120px;
  height: 24px;
  background: black;
  border-radius: 12px;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 770px;
    border: none;
    transform: scale(0.709);
    transform-origin: top left;
}

