.LanguagePage{
    padding: 30px 20px;
}

.languageList {
    list-style-type: circle;
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    color: var(--active-color);
}
.languageName{
    font-size: 18px;
    font-weight: bold;
    font-family: var(--font-secondary);
    margin: 10px;
    color: var(--font-color);
    text-align: center;
}
.languageItem {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background-color: var(--main-color);
}

.languageIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.languageIcon {
    width: 40px;
    height: 40px;
    margin: 2.5px;
    color: var(--active-color);
    transition: transform 0.2s ease, color 0.2s ease;
    cursor: default;
}

.languageIconContainer:hover .languageIcon {
    color: var(--hover-color);
    filter: drop-shadow(0 0 5px var(--hover-color)) brightness(1.4);
    transform: scale(1.1);
}

.languageIcon:hover {
    transform: scale(1.35) rotate(12deg);
    filter: drop-shadow(0 0 10px var(--hover-color)) brightness(1.8) !important;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 8px var(--hover-color)) brightness(1.4);
  }
  to {
    filter: drop-shadow(0 0 20px var(--hover-color)) drop-shadow(0 0 30px var(--accent-color)) brightness(2);
  }
}
