.MenuContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.LinkStyle{
    text-decoration: none;
    color: white;
    font-size: calc(10px + 2vmin);
    font-family: var(--font-main);
}

.LinkStyle:hover{
    color: var(--hover-color);
    transition: color 0.3s ease;
}

.active{
    text-decoration: none;
    color: var(--active-color);
    font-size: calc(10px + 2vmin);
    font-family: var(--font-main);
}