body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3D0110;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-color: #FFFFFF;
  --main-color: #680013;
  --accent-color: #AB2849;
  --background-color: #3D0110;
  --hover-color: #EE882F;
  --active-color: #FF5733;
  --font-main: "Germania One", system-ui;
  --font-secondary: 'Arial', sans-serif;
}

.Title{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--accent-color);
    font-family: var(--font-main);
}